@font-face {
    font-family: 'dosisregular';
    src: url('../fonts/dosis-regular-webfont.eot');
    src: url('../fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-regular-webfont.woff') format('woff'),
         url('../fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('../fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'angelina';
    src: url('../fonts/angelina-webfont.eot');
    src: url('../fonts/angelina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angelina-webfont.woff2') format('woff2'),
         url('../fonts/angelina-webfont.woff') format('woff'),
         url('../fonts/angelina-webfont.ttf') format('truetype'),
         url('../fonts/angelina-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{margin: 0px; padding: 0px; font-size: 14pt; font-family:'dosisregular',sans-serif;}

p{font-family:'dosisregular',sans-serif;color:#666;}

a{color:#de0916;font-weight: normal; text-decoration:none;}

h2{color:#666;}

.l{float: left;}
.r{float: right;}
.c, .clr{clear: both;}

.t-center{text-align: center;}

strong{font-weight: 600;}

.container{
	width: 790px; 
	margin: 0px auto 0px; 
    background-color:#f4f1f1;
	height: auto;
	overflow: hidden;
	}
	

#bg2{
	background-image:url(../img/bg2.jpg);
	background-position:bottom;
	background-repeat:no-repeat;
	height: 780px;
}

.top_line{
	background-color:#de0916;
	margin:0px auto 0px;
	text-align:center;
	height:45px;
	overflow:visible;
	padding:5px 0px;
}
.tag{
	text-align:center;
	margin-top:-45px;
	margin-left:250px;
}

.paragraph{
	text-align:center;
	line-height:150%;
	margin: 0px 100px 50px;
}

.paragraph h2{
	font-family: 'angelina', cursive;
	font-size: 3em;
	margin: 20px 0px;
}

.form{
	background-color:#F5F1F2;
	overflow:hidden;
	padding: 0px 20px 100px;
	margin: 0px 50px;
}

.col-1{
	width:99%;
	margin: 0px 5px;
}

.col-2{
	width:49%;
	margin: 0px 5px;
}

.col-3{
	width:32%;
	margin: 0px 5px;
}

.button{
	background-color:#de0916; 
	color:#fff; 
	border-radius: 10px; 
	width: auto; 
	overflow: hidden;
	text-align: center;
	padding: 10px 20px 20px;
	font-family: 'angelina', cursive;
	font-size: 2.5em;
	box-shadow: 0px 0px 8px #333;
	margin: 0px 20px;
	border: 4px double #fff;
	line-height: 90%;
	}

input{
	border: 1px solid #ddd; 
	padding: 5px 10px; 
	color: #999;
	width: 100%;
	margin-bottom: 10px;
	}

select{
	border: 1px solid #ddd; 
	padding: 5px 10px; 
	color: #999;
	width: 100%;
}
